*{
    margin: 0;
    padding: 0;
}
html{
    font-size:62.5%;
}
body{
    max-width: 640px;
    width: 100%;
}
.header{
    width: 100%;
    margin-bottom: -4px;
}
.btn {
    font-size: 3.4rem;
    color: white;
    background-color: #22292c;
    text-align: center;
}
.back{
    width:15.93%;
    float: left;
}
.menu{
    width:13.91%;
    float: right;
}
.content{
    background-color: #68cdd5;
}
.content-back{
    width: 13.91%;
    float: left;
}
.content-logo{
    width: 100%;
}
.content>span{
    font-size: 3rem;
    color: white;
    display: block;
    padding: 0 14% 26.7% 14%;
}
.footer-left {
    float: left;
    text-align: center;
    font-size: 2.4rem;
    width: 25%;
    padding: 0 12.5%;
}
.footer-left>span{
    display: block;
    margin: auto;
    font-size: 2.4rem;
    color: white;
}
.rightsidebar-r{
    float: right;
    text-align: center;
    font-size:2.4rem ;
    width: 25%;
    padding: 0 12.5%;
}
.rightsidebar-r>span{
    display: block;
    margin: auto;
    font-size: 2.4rem;
    color: white;
}
.footer-status{
    width:74.4%
}
.rightsidebar{
    width: 66.24%;
}
.bootom{
    width: 100%;
    padding-bottom: 52.48%;
}
